<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kelompok4.wecare">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".view.relative.settings.RelativeDateSettings"
            android:exported="false"
            android:theme="@style/Theme.Wecare.NoActionBar"/>
        <activity
            android:name=".view.relative.settings.RelativeEmailSettings"
            android:exported="false"
            android:theme="@style/Theme.Wecare.NoActionBar" />
        <activity
            android:name=".view.relative.settings.RelativePasswordSettings"
            android:exported="false"
            android:theme="@style/Theme.Wecare.NoActionBar" />
         <activity
        android:name=".view.relative.RelativeSettingsActivity"
        android:exported="false"
        android:label="@string/title_activity_relative_settings"
        android:theme="@style/Theme.Wecare.NoActionBar" />
        <activity
            android:name=".view.relative.settings.RelativeNameSettings"
            android:exported="false"
            android:theme="@style/Theme.Wecare.NoActionBar" />
        <activity
            android:name=".view.relative.PanduanKesehatanActivity"
            android:exported="false"
            android:theme="@style/Theme.Wecare.NoActionBar" />
        <activity
            android:name=".view.relative.FallAlertActivity"
            android:exported="false" />
        <activity
            android:name=".ScannerActivity"
            android:exported="false" />
        <activity
            android:name=".IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Wecare.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.relative.RelativeMainActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.relative.RelativeSetSchedule"
            android:exported="true"
            android:theme="@style/Theme.Wecare">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.elder.ElderHome" />
            <!-- ^ TODO: PLACEHOLDER, CHANGE LATER! -->
        </activity>

        <receiver
            android:name=".Widget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/elder_widget_info" />
        </receiver>

        <activity
            android:name=".view.elder.ElderAccountConnection"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wecare.NoActionBar" />
        <activity
            android:name=".view.elder.ElderHome"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wecare.NoActionBar" />
    </application>

</manifest>